@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: thin;
    font-style: thin;
}

body{
    font-family: 'Inter', sans-serif;
}


.flash-message {
    display: none; 
    position: fixed;
    top: 10px;
    right: 10px;
    background: #ff69b4; 
    color: #fff; 
    padding: 10px;
    border-radius: 5px;
    z-index: 9999; 
}

.hidden {
    display: none;
}

/* Task card container */
.task-card, .task-card-root, .task-card-subtask, .task-card-subsubtask {
    background-color: #f3eff2; 
    border: 1px solid #cb7fbc84;
    border-radius: 5px; 
    padding: 10px; 
    margin: 10px; 
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5); 
    color: #000; 
}

.home-task-card{
    background-color: #ff69b4; 
    border: 1px solid #ff69b4; 
    border-radius: 5px; 
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5); 
    color: #000; 
    justify-content: center;
}

.home-task-card h2{
    text-align: center;
    color: #fff;
}

.home{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #cf2e7e;
}

.home h3, p {
    padding-top: 40px;
    text-align: center;
    color:#cf2e7e
}
/* Task title */
.task h2, .subtask h3, .subsubtask h4 {
    margin: 0; 
    font-size: 18px; 
}

/* Task actions (buttons, forms, etc.) */
.task-actions, .subtask-actions, .subsubtask-actions {
    margin-top: 10px; 
}



/* Subtask form (hidden by default) */
.subtask-form {
    margin-top: 10px;
}

/* Subtasks and Subsubtasks lists */
.subtasks, .subsubtasks {
    list-style-type: none; 
    padding-left: 20px;
}

/* Clickable container for task card */
.task-card {
    cursor: pointer; 
}

/* Collapsed state for subtasks and subsubtasks */
.collapsed .subtasks, .collapsed .subsubtasks {
    display: none;
}

/* Style for root tasks */
.task-card-root {
    background-color: #ff69b4; 
    color: #fff; 
}
/* Style for subtasks */
.task-card-subtask {
    background-color: #fa87c0; 
    color: #fff;  
}

/* Style for subsubtasks */
.task-card-subsubtask {
    background-color: #ffccd3; 
    color: #5c246e;
}

/* Add this to your CSS file (e.g., styles.css) */
.top-nav {
    background-color: #ff69b4; 
    padding: 0px 20px;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(255, 105, 180, 0.5); 
    color: #fff; 
}

.white-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white-nav ul li {
    margin-right: 20px; 
}

.white-nav ul li:last-child {
    margin-right: 0; 
}

.white-nav ul li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}

/* Style the user's name span */
.white-nav ul li span {
    color: #fff; 
}

.sidebar {
    height:1000px;
    width: 250px; 
    padding: 20px; 
    float: left; 
    display: flex;
    border: 1px solid #ff69b4;
    border-bottom: 0px;
    flex-direction: column;
    color: #5c246e; 
}

.side-bar-button {
    display: block; 
    margin-bottom: 10px; 
    color: #cf2e7e; 
    border-radius: 5px; 
    padding: 10px;
    cursor: pointer; 
    background-color: #ffccd3; 
    border: 1px solid #ff69b4; /* A subtle box shadow */
    width: 100%;
}
.side-bar-button:hover {
    background-color: #f8dfe3;
}

.main-content {
    height:1000px;
    margin-left: 270px; 
    padding: 40px; 
    background-color: #ffffff; 
    padding: 20px; 
    padding-left: 40px;
    color: #5c246e; 
}

.button {
    margin-bottom: 10px; 
    color: #ff69b4; 
    border-radius: 5px; 
    padding: 5px; 
    cursor: pointer; 
    background-color: #ffccd3; 
    border: 1px solid #ff69b4; 
   
}
.button:hover {
    background-color: #f8dfe3;
}

input{
    border-radius: 5px;
    border: 1px solid #ff69b4;
    padding: 5px;
}