{% extends "base.html" %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center;"> 
        <h1>{{ list.title }}</h1>
        <form action="{{ url_for('web.delete_list', list_id=list.id) }}" method="post">
            <button class="button" type="submit">DELETE {{list.title}}</button>
        </form>
    </div>

    <div id="flash-message" class="hidden">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p>{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    </div>
    <form action="{{ url_for('web.list_tasks', list_id=list.id )}}" method="post">
        <label for="task_title"></label>
        <input type="text" id="task_title" placeholder="Enter Task Details" name="title" required>
        <button class="button" type="submit">Add Task</button>
    </form>
        {% for root_task_dict in task_list %}
            <div class="task-card">
                <!-- Root task content -->
                <div class="task task-card-root toggle-subtask-form">
                    <h2 class = 'task_title'>{{ root_task_dict['task'].title }}</h2>
                    <!-- Task title and actions -->
                    <div class="task-actions">
                        <!-- Edit and delete buttons for root task -->
                        <button class="edit-task button" data-task-id="{{ root_task_dict['task'].id }}"><i class="fas fa-edit"></i></button>
                        <button class="delete-task button" data-task-id="{{ root_task_dict['task'].id }}"><i class="fas fa-trash-alt"></i></button>
                        <!-- Add SubTask form for root task -->
                        <button class="toggle-subtask-form button" data-parent-task-id="{{ root_task_dict['task'].id }}"><i class="fas fa-plus"></i></button>
                        <form class="subtask-form hidden" action="{{ url_for('web.create_subtask', list_id=list.id, task_id=root_task_dict['task'].id) }}" method="post">
                            <label class="task_title">SubTask Title:</label>
                            <input type="text" id="task_title" name="title" required>
                            <button class="button" type="submit">Save</button>
                        </form>
                        <button class="move-task toggle-subtask-form button" data-task-id="{{ root_task_dict['task'].id }}">Move</button>
                        <!-- List of lists for moving the task -->
                        <div class="move-task-list hidden">
                            <p style="color: white;">Select a list to move this task to:</p>
                            <form method="post" id="move-task-form">
                                <input type="hidden" name="task_id" value="{{ root_task_dict['task'].id }}">
                                <select name="list_id" class="move-task-option">
                                    {% for move_list in lists %}
                                        <option value="{{ move_list.id }}">
                                            {{ move_list.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button class = "button" type="submit">Move Task</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="subtasks hidden">
                    {% for subtask in root_task_dict['subtasks'] %}
                        <div class="subtask task-card-subtask toggle-subtask-form">
                            <!-- Subtask content -->
                            <h3 class = 'task_title'>{{ subtask.title }}</h3>
                            <!-- Subtask title and actions -->
                            <div class="subtask-actions">
                                <!-- Edit and delete buttons for subtask -->
                                <button class="edit-task button" data-task-id="{{ subtask.id }}"><i class="fas fa-edit"></i></button>
                                <button class="delete-task button" data-task-id="{{ subtask.id }}"><i class="fas fa-trash-alt"></i></button>
                                <!-- Add SubTask form for subtask -->
                                <button class="toggle-subtask-form button" data-parent-task-id="{{ subtask.id }}"><i class="fas fa-plus"></i></button>
                                <form class="subtask-form hidden" action="{{ url_for('web.create_subtask', list_id=list.id, task_id=subtask.id) }}" method="post">
                                    <label for="task_title">SubTask Title:</label>
                                    <input type="text" id="task_title" name="title" required>
                                    <button class = "button" type="submit">Save</button>
                                </form>
                            </div>
                        </div>
                        <div class="subsubtasks hidden">
                            {% for subsubtask in subtask['subtasks'] %}
                                <div class="subsubtask task-card-subsubtask">
                                    <!-- Subsubtask content -->
                                    <h4>{{ subsubtask.title }}</h4>
                                    <!-- Subsubtask title and actions -->
                                    <div class="subsubtask-actions">
                                        <!-- Edit and delete buttons for subsubtask -->
                                        <button class="edit-task button" data-task-id="{{ subsubtask.id }}"><i class="fas fa-edit"></i></button>
                                        <button class="delete-task button" data-task-id="{{ subsubtask.id }}"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
         {% endfor %}
{% endblock %}
<script src="/static/js/task-handler.js"></script>
</html>